In [1]:
import pandas as pd

from json import load
from dataset import get_cliffs, split_data

In [ ]:
df = pd.read_csv('../analysis/morgan_cnn_kiba_predictions.csv')
del df['predicted'] 
df.columns = ['drug', 'target', 'affinity']
df['SMILES'] = df.drug.apply(drugs.get)
df.to_csv('../analysis/morgan_cnn_kiba_affinity.csv')

In [20]:
df = pd.read_csv('../analysis/morgan_cnn_kiba_affinity.csv')

In [21]:
df

        Unnamed: 0           drug  target  affinity
0                0  CHEMBL1087421  O00141  11.10000
1                1  CHEMBL1087421  O14920  11.10000
2                2  CHEMBL1087421  O15111  11.10000
3                3  CHEMBL1087421  P00533  11.10000
4                4  CHEMBL1087421  P04626  11.10000
...            ...            ...     ...       ...
118249      118249   CHEMBL230654  Q13554  10.49794
118250      118250   CHEMBL230654  Q13555  10.49794
118251      118251   CHEMBL230654  Q13557  10.49794
118252      118252   CHEMBL230654  Q16539  10.49794
118253      118253   CHEMBL230654  Q9UQM7  10.49794

[118254 rows x 4 columns]

In [ ]:
cliff_pairs = get_cliffs(df)

In [ ]:
cliff_pairs

In [ ]:
cliff_pairs['cliff'].value_counts()

In [6]:
cliff_pairs.to_csv('../analysis/morgan_cnn_kiba_cliff_pairs.csv', index=False)

In [4]:
cliff_pairs = pd.read_csv('../analysis/morgan_cnn_kiba_cliff_pairs.csv')

In [5]:
cliff_pairs

               drug1          drug2  cliff
0      CHEMBL1087421  CHEMBL1088633      0
1       CHEMBL206783   CHEMBL207037      0
2       CHEMBL206783   CHEMBL207246      0
3       CHEMBL206783   CHEMBL207584      0
4       CHEMBL206783   CHEMBL207674      0
...              ...            ...    ...
80512   CHEMBL456936   CHEMBL517956      0
80513   CHEMBL456936   CHEMBL518060      0
80514   CHEMBL515982   CHEMBL517956      0
80515   CHEMBL515982   CHEMBL518060      0
80516   CHEMBL517956   CHEMBL518060      0

[80517 rows x 3 columns]

In [6]:
cliff_pairs_nodup = cliff_pairs.drop_duplicates()

In [7]:
cliff_pairs_nodup[cliff_pairs_nodup.cliff == 1]

               drug1          drug2  cliff
146    CHEMBL1997129   CHEMBL226471      1
194    CHEMBL2036343   CHEMBL574646      1
199     CHEMBL379849   CHEMBL574646      1
206     CHEMBL576989   CHEMBL578601      1
320    CHEMBL1991577   CHEMBL466496      1
...              ...            ...    ...
80328  CHEMBL1241768  CHEMBL1242749      1
80341  CHEMBL1241770  CHEMBL1242749      1
80386  CHEMBL1242109  CHEMBL1242114      1
80404  CHEMBL1242113  CHEMBL1242114      1
80484  CHEMBL1242657  CHEMBL1242749      1

[1832 rows x 3 columns]

In [8]:
drugs = load(open('../data/KIBA/SMILES.txt'))

In [9]:
cliff_pairs_nodup['smiles1'] = cliff_pairs_nodup.drug1.apply(drugs.__getitem__)
cliff_pairs_nodup['smiles2'] = cliff_pairs_nodup.drug2.apply(drugs.__getitem__)

C:\Users\rena_\AppData\Local\Temp\ipykernel_46808\1996943936.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cliff_pairs_nodup['smiles1'] = cliff_pairs_nodup.drug1.apply(drugs.__getitem__)
C:\Users\rena_\AppData\Local\Temp\ipykernel_46808\1996943936.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cliff_pairs_nodup['smiles2'] = cliff_pairs_nodup.drug2.apply(drugs.__getitem__)

In [10]:
cliff_pairs_nodup

,drug1,drug2,cliff,smiles1,smiles2
0,CHEMBL1087421,CHEMBL1088633,0,COC1=C(C=C2C(=C1)CCN=C2C3=CC(=C(C=C3)Cl)Cl)Cl,COC1=C(C=C2C(=C1)CCN=C2C3=CC(=CC=C3)Cl)Cl
1,CHEMBL206783,CHEMBL207037,0,COC1=C(C=C2C(=C1)N=CN=C2NC3=C(C(=CC=C3)Cl)F)CN...,COC1=C(C=C2C(=C1)N=CN=C2NC3=C(C(=CC=C3)Cl)F)CN...
2,CHEMBL206783,CHEMBL207246,0,COC1=C(C=C2C(=C1)N=CN=C2NC3=C(C(=CC=C3)Cl)F)CN...,COC1=C(C=C2C(=C1)N=CN=C2NC3=C(C(=CC=C3)Cl)F)CN...
3,CHEMBL206783,CHEMBL207584,0,COC1=C(C=C2C(=C1)N=CN=C2NC3=C(C(=CC=C3)Cl)F)CN...,COC1=C(C=C2C(=C1)N=CN=C2NC3=C(C(=CC=C3)Cl)F)CN...
4,CHEMBL206783,CHEMBL207674,0,COC1=C(C=C2C(=C1)N=CN=C2NC3=C(C(=CC=C3)Cl)F)CN...,COC1=C(C=C2C(=C1)N=CN=C2NC3=C(C(=CC=C3)Cl)F)CN...
...,...,...,...,...,...
80328,CHEMBL1241768,CHEMBL1242749,1,C1COCC1N2C3=C(C(=N2)C4=CC(=C(C=C4)Cl)O)C(=NC=N3)N,C1COCC1N2C3=C(C(=N2)C4=CC(=C(C=C4)F)O)C(=NC=N3)N
80341,CHEMBL1241770,CHEMBL1242749,1,C1CNCC1CN2C3=C(C(=N2)C4=CC(=C(C=C4)Cl)O)C(=NC=...,C1COCC1N2C3=C(C(=N2)C4=CC(=C(C=C4)F)O)C(=NC=N3)N
80386,CHEMBL1242109,CHEMBL1242114,1,CCC(C)N1C2=C(C(=N1)C3=CC(=C(C=C3)C)O)C(=NC=N2)N,CC(C)N1C2=C(C(=N1)C3=CC(=C(C=C3)OC)O)C(=NC=N2)N
80404,CHEMBL1242113,CHEMBL1242114,1,CCN1C2=C(C(=N1)C3=CC(=C(C=C3)OC)O)C(=NC=N2)N,CC(C)N1C2=C(C(=N1)C3=CC(=C(C=C3)OC)O)C(=NC=N2)N
80484,CHEMBL1242657,CHEMBL1242749,1,C1CNCC1N2C3=C(C(=N2)C4=CC(=C(C=C4)F)O)C(=NC=N3)N,C1COCC1N2C3=C(C(=N2)C4=CC(=C(C=C4)F)O)C(=NC=N3)N

In [12]:
cliff_pairs_nodup_split_random = split_data(cliff_pairs_nodup, split='random')

In [27]:
cliff_pairs_nodup_split_random[cliff_pairs_nodup_split_random.split == 0]

,drug1,drug2,cliff,smiles1,smiles2,split
808,CHEMBL1240544,CHEMBL1241771,0,CC(CN)N1C2=C(C(=N1)C3=CC(=C(C=C3)Cl)O)C(=NC=N2)N,CC(C)N1C2=C(C(=N1)C3=CC(=C(C=C3)C#N)F)C(=NC=N2)N,0
28773,CHEMBL1241679,CHEMBL1242029,0,CC(C)N1C2=C(C(=N1)C3=CC=CC(=C3)C#N)C(=NC=N2)N,CC(C)N1C2=C(C(=N1)C3=CC(=CC=C3)OC)C(=NC=N2)N,0
10202,CHEMBL1965836,CHEMBL1998159,1,CC1=C2C=C(C=CC2=NN1)C3=CC(=CN=C3)OCC(CC4=CC(=C...,CC1=C2C=C(N=CC2=NN1)C3=CC(=CN=C3)OCC(CC4=CC(=C...,0
12080,CHEMBL1994438,CHEMBL2006439,1,C1CCC(C(C1)N)NC2=NC(=CC(=N2)Cl)C3=CNC4=C3C=CC=N4,C1CCC(CC1)NC2=NC(=CC(=N2)Cl)C3=CNC4=C3C=CC=N4,0
20970,CHEMBL1986265,CHEMBL1966501,1,C1C(CN1CC2=C(C=C(C=C2)OCC3=CC(=CC=C3)C(F)(F)F)...,CC1=C(C=CC(=C1)OCC2=CC(=CC=C2)C(F)(F)F)CN3CC(C...,0
...,...,...,...,...,...,...
22662,CHEMBL1241774,CHEMBL1242665,1,CC(C)N1C2=C(C(=N1)C3=CC4=NC=CN=C4C=C3)C(=NC=N2)N,CC(C)N1C2=C(C(=N1)C3=CC4=NC=CN4C=C3)C(=NC=N2)N,0
742,CHEMBL1081312,CHEMBL1241681,0,C1CCC(C1)N2C3=C(C(=N2)C4=CN=C5C(=C4)C=CN5)C(=N...,C1CCC(C1)N2C3=C(C(=N2)C4=CC5=C(C=C4)N=CC=C5)C(...,0
13550,CHEMBL411351,CHEMBL81478,0,C1C(C(OC2=C1C(=CC(=C2C3C(C(OC4=C5C6C(C(OC5=CC(...,C1C(C(OC2=C1C(=CC(=C2C3C(C(OC4=C5C6C(C(OC7=CC(...,0
28886,CHEMBL1241776,CHEMBL1242477,1,CC(C)N1C2=C(C(=N1)C3=CC4=C(C=C3)NC=NC4=O)C(=NC...,CC(C)N1C2=C(C(=N1)C3=CC4=C(C=C3)C=NN4)C(=NC=N2)N,0
1136,CHEMBL1241588,CHEMBL1242847,0,CC(C)N1C2=C(C(=N1)C3=CC4=C(C=C3)OCCO4)C(=NC=N2)N,CC(C)N1C2=C(C(=N1)C3=CC=C(C=C3)OC)C(=NC=N2)N,0

In [25]:
cliff_pairs_nodup_split_random.to_csv('../analysis/kiba_cliff_pairs_ta_1_ts_0.9_random.csv', index=False)

In [18]:
cliff_pairs_nodup_split_cb = split_data(cliff_pairs_nodup, split='compound-based')

In [22]:
cliff_pairs_nodup_split_cb[cliff_pairs_nodup_split_cb.split == 2]

,drug1,drug2,cliff,smiles1,smiles2,split
1,CHEMBL206783,CHEMBL207037,0,COC1=C(C=C2C(=C1)N=CN=C2NC3=C(C(=CC=C3)Cl)F)CN...,COC1=C(C=C2C(=C1)N=CN=C2NC3=C(C(=CC=C3)Cl)F)CN...,2
2,CHEMBL206783,CHEMBL207246,0,COC1=C(C=C2C(=C1)N=CN=C2NC3=C(C(=CC=C3)Cl)F)CN...,COC1=C(C=C2C(=C1)N=CN=C2NC3=C(C(=CC=C3)Cl)F)CN...,2
8,CHEMBL206955,CHEMBL382638,0,COC1=C(C=C2C(=C1)N=CN=C2NC3=CC(=C(C=C3)F)Cl)CN...,COC1=C(C=C2C(=C1)N=CN=C2NC3=CC(=C(C=C3)F)Cl)CN...,2
9,CHEMBL207037,CHEMBL207246,0,COC1=C(C=C2C(=C1)N=CN=C2NC3=C(C(=CC=C3)Cl)F)CN...,COC1=C(C=C2C(=C1)N=CN=C2NC3=C(C(=CC=C3)Cl)F)CN...,2
10,CHEMBL207037,CHEMBL207584,0,COC1=C(C=C2C(=C1)N=CN=C2NC3=C(C(=CC=C3)Cl)F)CN...,COC1=C(C=C2C(=C1)N=CN=C2NC3=C(C(=CC=C3)Cl)F)CN...,2
...,...,...,...,...,...,...
80149,CHEMBL1241484,CHEMBL1241578,1,CC(C)N1C2=C(C(=N1)C3=CC(=C(C=C3)Cl)O)C(=NC=N2)N,CC(C)N1C2=C(C(=N1)C3=CC(=C(C=C3)Br)O)C(=NC=N2)N,2
80225,CHEMBL1241578,CHEMBL1242377,1,CC(C)N1C2=C(C(=N1)C3=CC(=C(C=C3)Br)O)C(=NC=N2)N,CC(C)N1C2=C(C(=N1)C3=CC(=C(C=C3)F)O)C(=NC=N2)N,2
80305,CHEMBL1241678,CHEMBL1241768,1,C1COCC1N2C3=C(C(=N2)C4=CC(=C(C=C4)Cl)O)C(=NC=N3)N,C1COCC1N2C3=C(C(=N2)C4=CC(=C(C=C4)Cl)O)C(=NC=N3)N,2
80328,CHEMBL1241768,CHEMBL1242749,1,C1COCC1N2C3=C(C(=N2)C4=CC(=C(C=C4)Cl)O)C(=NC=N3)N,C1COCC1N2C3=C(C(=N2)C4=CC(=C(C=C4)F)O)C(=NC=N3)N,2
80341,CHEMBL1241770,CHEMBL1242749,1,C1CNCC1CN2C3=C(C(=N2)C4=CC(=C(C=C4)Cl)O)C(=NC=...,C1COCC1N2C3=C(C(=N2)C4=CC(=C(C=C4)F)O)C(=NC=N3)N,2

In [24]:
cliff_pairs_nodup_split_cb.to_csv('../analysis/kiba_cliff_pairs_ta_1_ts_0.9_cb.csv', index=False)